ul {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
ul.topnav li.right {float: right;}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8080F8;
}
ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}
li.right img{
  height: 16px;
  margin: 0px 7px -2px 0px;
}
.menu{
  margin: 134px 0px 0px 0px;
}
.logo{
  margin: 0px 0px -10px 0px;
  height: 0px;
}
.logo img{
  height: 106px;
  float: left;
}
.arriba h1{
  float: center;
  margin: 9px 0px 0px 450px;
  font-size: 20px;
    color: blue;
}
.abajo h1{
  float: center;
  margin: 9px 0px 0px 515px;
  font-size: 20px;
    color: blue;
}
.logo h2{
  float: none;
  margin: 16px 0px 0px 0px;
}
.cabecera{
  height: 190px;
  margin: 0px 0px 6px 0px;
}
.contenido{
  margin: 0px 0px 0px 30px;
}
.button {
  display: inline-block;
  border-radius: 10px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 287px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px;
  display: block;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
